# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl
*.tfplan
terraform.tfvars

# Credentials
*.json
application_default_credentials*

# OS
.DS_Store
*.swp

# Python
__pycache__/
*.pyc
.env
